In [9]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv('data.csv')
bmd = pd.DataFrame(data)
bmd.head()

   Gender  Height  Weight  Index
0    Male   174.0    96.0      4
1    Male   189.0    87.0      2
2  Female   185.0   110.0      4
3  Female   195.0   104.0      3
4    Male   149.0    61.0      3

In [11]:
bmd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  498 non-null    float64
 2   Weight  499 non-null    float64
 3   Index   500 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 15.8+ KB

In [12]:
bmd.isna().sum()

Gender    0
Height    2
Weight    1
Index     0
dtype: int64

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [14]:
onehot = OneHotEncoder()

In [15]:
con_data = onehot.fit_transform(bmd[["Gender"]]).toarray()
con_dataFrame=pd.DataFrame(con_data)

bmd_new = pd.concat([data,con_dataFrame],axis = 1)
bmd_new

     Gender  Height  Weight  Index    0    1
0      Male   174.0    96.0      4  0.0  1.0
1      Male   189.0    87.0      2  0.0  1.0
2    Female   185.0   110.0      4  1.0  0.0
3    Female   195.0   104.0      3  1.0  0.0
4      Male   149.0    61.0      3  0.0  1.0
..      ...     ...     ...    ...  ...  ...
495  Female   150.0   153.0      5  1.0  0.0
496  Female   184.0   121.0      4  1.0  0.0
497  Female   141.0   136.0      5  1.0  0.0
498    Male   150.0    95.0      5  0.0  1.0
499    Male   173.0   131.0      5  0.0  1.0

[500 rows x 6 columns]

In [16]:
X = data.loc[:,["Height","Weight"]]
y = data['Index']

In [17]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,y,train_size=0.5, random_state=1)

In [18]:
from sklearn.impute import SimpleImputer 
mean_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [19]:
mean_imputer.fit(train_X)
mean_imputer.fit(test_X)

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='mean', verbose=0)

In [20]:
a=mean_imputer.transform(train_X)
b=mean_imputer.transform(test_X)

In [21]:
c=pd.DataFrame(a)
d=pd.DataFrame(b)

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
lr=LogisticRegression(penalty="l2", C= .01)
lr.fit(c,train_y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
lr.predict(d)

array([5, 3, 4, 2, 5, 4, 5, 1, 4, 5, 4, 2, 5, 4, 4, 4, 2, 4, 5, 4, 3, 5,
       5, 0, 5, 4, 5, 4, 4, 4, 4, 5, 3, 5, 4, 5, 2, 2, 4, 4, 3, 2, 5, 5,
       5, 4, 5, 5, 2, 5, 4, 1, 4, 2, 5, 1, 2, 5, 5, 3, 2, 0, 5, 4, 2, 5,
       2, 5, 5, 4, 5, 3, 5, 5, 5, 5, 5, 2, 3, 5, 4, 5, 3, 4, 2, 5, 5, 5,
       5, 5, 2, 5, 2, 4, 5, 3, 4, 4, 5, 3, 2, 2, 5, 2, 5, 5, 3, 5, 4, 4,
       4, 2, 4, 4, 4, 3, 5, 5, 4, 5, 4, 5, 4, 3, 5, 3, 4, 5, 3, 4, 4, 2,
       3, 5, 2, 2, 4, 2, 5, 5, 5, 5, 3, 4, 5, 3, 4, 5, 5, 5, 2, 5, 3, 2,
       2, 5, 2, 5, 2, 2, 0, 3, 4, 4, 5, 5, 4, 4, 4, 5, 2, 5, 2, 2, 3, 5,
       2, 5, 5, 4, 5, 2, 4, 4, 2, 3, 4, 4, 4, 5, 1, 5, 5, 2, 5, 5, 5, 5,
       5, 5, 2, 5, 3, 3, 4, 2, 2, 5, 5, 4, 4, 2, 5, 5, 5, 5, 5, 2, 5, 4,
       5, 5, 3, 4, 2, 4, 3, 4, 4, 5, 2, 2, 4, 4, 2, 5, 0, 5, 2, 5, 4, 4,
       4, 5, 5, 5, 4, 2, 5, 2], dtype=int64)

In [25]:
lr.score(d, test_y)

0.692

In [48]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 5)

In [49]:
mean_imputer.fit(train_X)
mean_imputer.fit(test_X)

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='mean', verbose=0)

In [50]:
a=mean_imputer.transform(train_X)
b=mean_imputer.transform(test_X)

In [51]:
c=pd.DataFrame(a)
d=pd.DataFrame(b)

In [52]:
knn.fit(c, train_y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [53]:
knn.predict(d)

array([5, 3, 4, 2, 5, 4, 5, 1, 4, 5, 5, 3, 5, 4, 4, 4, 2, 5, 5, 3, 4, 4,
       5, 0, 5, 4, 5, 4, 4, 3, 3, 5, 2, 5, 4, 5, 2, 3, 4, 5, 3, 2, 5, 5,
       5, 3, 5, 5, 2, 5, 4, 0, 3, 2, 5, 0, 2, 5, 5, 2, 2, 0, 5, 4, 1, 5,
       2, 5, 4, 3, 5, 4, 5, 5, 5, 5, 5, 1, 4, 5, 5, 5, 3, 4, 2, 5, 4, 5,
       5, 5, 2, 5, 2, 5, 5, 4, 4, 3, 5, 4, 2, 1, 4, 3, 5, 4, 3, 5, 4, 5,
       4, 2, 4, 4, 4, 3, 5, 5, 4, 5, 3, 5, 4, 4, 5, 3, 4, 5, 3, 4, 4, 2,
       4, 5, 1, 3, 3, 2, 5, 5, 5, 5, 3, 4, 5, 4, 4, 5, 4, 4, 2, 5, 3, 2,
       1, 5, 1, 5, 1, 3, 0, 2, 5, 4, 4, 5, 4, 3, 4, 5, 1, 5, 3, 2, 4, 5,
       2, 4, 5, 3, 5, 1, 5, 4, 3, 2, 5, 4, 3, 5, 0, 5, 5, 1, 5, 5, 5, 5,
       4, 5, 2, 4, 3, 3, 5, 1, 2, 5, 4, 5, 5, 2, 5, 5, 5, 5, 5, 1, 4, 4,
       5, 5, 4, 4, 2, 4, 3, 3, 5, 4, 1, 2, 4, 4, 2, 5, 0, 5, 2, 5, 5, 3,
       5, 5, 5, 5, 4, 2, 4, 2], dtype=int64)

In [54]:
knn.score(d, test_y)

0.928

In [ ]:
The last score which is 0.928 is more accurate as compare to the first score which is 0.692